<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Caption" value="OpenOLAT" />
    <add key="BaseUri" value="https://olat.example.com" />
    <add key="CredentialsPath" value="%HOMEDRIVE%%HOMEPATH%\.olat.xml" />
    <add key="DecryptionKey" value="" />
  </appSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>